name: Validate Notebook

on: [pull_request,push]

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    name: Verify Clean Notebook
    steps:
      - uses: actions/checkout@v3
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: ./.github/schema.json
          INPUT_JSONS: /runblender.ipynb